.insert {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.pageHome {
    display: flex;

}

.selecaoDespesaReceita, .insert input {
    width: 20%;
    border: none;
    background-color: transparent;
    color: rgb(26, 120, 0);
    border-bottom: 1px solid black;
}

.btn {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: rgb(26, 120, 0);
    cursor: pointer;
}

.selecaoDespesaReceita {
    height: 1.4rem;
}

.info {
    background-color: #57B358;
    color: white;
    font-size: 7pt;
    padding: 5px;
    width: 10px;
    text-align: center;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .pageHome {
        flex-direction: column;
        justify-content: center;
    }

    .insert {
        flex-direction: column;
        justify-content: center;
    }

    .selecaoDespesaReceita, .insert input {
        width: 90%;
        height: 50px;
        font-size: 13pt;
    }

    .insert button {
        width: 90%;
        font-size: 13pt;
        margin-top: 1rem;
    }
}