.extrato {
    top: 1rem;
    color: white;
    width: 55%;
    text-align: center;
}

.extrato ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.extrato li {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: .5rem auto;
}

.btn-delete {
    padding: 5px;
    height: 50%;
    border-radius: 5px;
    background-color: #ef4444;
    border: none;
    cursor: pointer;
    color: white;
}

@media screen and (max-width: 768px) {
    .extrato {
        margin: auto;
        text-align: center;
    }
    
    .extrato ul {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .extrato li {
        padding: .5rem 0;
        border-bottom: 1px solid black;
        width: 100%;
    }

    .btn-delete {
        margin-left: 1rem;
    }
}