.extrato {
    top: 1rem;
    color: white;
    width: 55%;
    text-align: center;
    max-height: 40vh;
    overflow-x: auto;
}

.btn-delete {
    padding: 5px;
    height: 50%;
    border-radius: 5px;
    background-color: #ef4444;
    border: none;
    cursor: pointer;
    color: white;
}

.despesa {
    color: #ef4444;
}

.extrato table {
    margin: auto;
}

.extrato th {
    border-bottom: 1px solid white;
    padding: .5rem 1rem;
}

.extrato td {
    padding: 1rem .5rem;
}

@media screen and (max-width: 768px) {
    .extrato {
        margin: auto;
        text-align: center;
        background-color: #dbdbdb;
        width: 90%;
        min-height: 25vh;
        border-radius: 5px;
        color: #356936;
        box-shadow: 1px 2px 2px 2px rgba(72, 255, 0, 0.3);
    }
    
    .extrato table {
        width: 80%;
        text-align: center;
        padding: 0;
    }

    .extrato th {
        border-bottom: 1px solid #356936;
    }
    
    .extrato td {
        padding: .5rem 0;
        width: 80%;
    }

    .receita {
        color: #57B358;
    }
}