.extrato {
    top: 1rem;
    color: white;
    width: 55%;
    text-align: center;
}

.extrato ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.extrato li {
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .extrato {
        margin: auto;
        text-align: center;
    }
    
    .extrato ul {
        width: 100%;
        text-align: center;
        padding: 0;
    }

    .extrato li {
        padding: .5rem 0;
        border-bottom: 1px solid black;
    }
}